<h4>
</h4>
<h1> Sine function</h1>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <p>
        </p>
        <h2>A</h2>
        <p></p>
        <q-slider v-model="A" :min="0.0" :max="10.0"></q-slider>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <p>
        </p>
        <h2>k</h2>
        <p></p>
        <q-slider v-model="k"></q-slider>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <p>
        </p>
        <h2>Φ</h2>
        <p></p>
        <q-slider v-model="ϕ" :min="-3" :max="3"></q-slider>
    </div>
</div>
<plotly :data="traces"></plotly>