#i2kwo{color:rgb(190, 207, 218);background-color:rgb(7, 39, 59);font-family:"Intel One Mono", Hack, Consolas, "Courier New", monospace, "Droid Sans Mono", "monospace", monospace;line-height:19px;white-space:pre;}#ipmkt{color:#e4b781;}